<h1>New task</h1>

<%= render 'form' %>

<!-- <form action="/missions" method="post">
  <div>
    <label for="name">Name: </label>
    <input type="text" name="mission[name]" id="name">
  </div>
  <div>
  <label for="description">Description: </label>
    <input type="text" name="mission[description]" id="description">
  </div>
  <input type="submit" value="Add">
</form>
 -->